@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{
  color:white;

  font-family: 'Noto Sans KR', sans-serif;
}
body{
  background-color: black !important;
 
}

.nav-item{
  color:white;
  text-decoration: none;
  margin-left: 10px;
  font-family: 'EliceDigitalBaeum-Bd';
}

.nav-item:hover{
  color:red
}

.banner {
  height: 600px;
  color:white;
  display: flex;
  align-items: center;
 
}

.banner::before {
  position: absolute;
  left:0;
  width:100%;
  height:600px;
  content:'';
  background: linear-gradient(to right,black,transparent); 
}

.banner-info{
  width:40%;
  margin-left:30px;
}

.banner{
  height: 600px;
}


.banner_text{
  width: 500px;
  z-index: 1;
}

.card{
  width: 300px;
  height: 200px !important;
}
.card_movie{
  display: flex;
  justify-content: flex-end;
}
.detail_movice_card{
  width: 350px;
  height: 200px;
  
  
}

.hotmovies{
  margin-bottom: 5%;
  margin-left:21%;
}
.overlay{
  opacity: 0;
}

.card:hover .overlay{
  opacity: 1;
  background-color: rgba(43,41,41,0.9);
  width: 100%;
  height: 100%;
}

.detial_wrap{
  position: relative;
  width: 100%;
  height: 200px;
 
}
.datail_btn{
  position: absolute;
  top:20%;
  left:45%;
  color:rgb(191, 162, 162);
  width: 200px;
  height: 50px;
}
.detail_bener{
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.datailCard_img{
    width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  
}
.movie_img{
 display: flex;
 justify-content: flex-end;
}

.datail_info_wrap{
  margin-top:20px;
}
.datail_info{
  margin-top:30px;
}
.detail_genres_wrap{



}
.dtail_genres{
  background-color: rgb(220, 42, 42);
  border-radius: 20px;
  width: 50px;
  display: flex;
  float: left;
  margin-left:20px;
  
  
}
.average_wrap{
  display: flex;
  align-items: center;
}
.averageicon{
 color:rgb(191, 124, 8);
}
.popularity{
  margin:0 30px;
}
.pop_icon{
  color:gray;
  
}

.detail_overview{
  margin: 20px 0 ;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 30px 0 ;
}
.budget{
  display: flex;
  margin: 10px 0 ;
}
.detail_budget{
  background-color: rgb(220, 42, 42);
  width: 100px;
  text-align: center;
  border-radius: 20px;
}
.review_wrap{
  margin-top:5%;
  border-top:1px solid white;
  border:80%;
  margin-left:30%;
  margin-bottom: 10%;
}
.review{
  margin-top:30px;
  margin-left:10px;
 
  padding-top:30px;
  width: 1000px;
  height: 300px;
  text-overflow: ellipsis;
  overflow     : hidden;
  overflow: scroll;
}
.author{
  padding:10px;
}